/* Estilo para o corpo da página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9; /* Branco com um toque de cinza claro */
    margin: 0;
    padding: 20px;
    color: #333; /* Texto cinza escuro */
}

/* Estilo para o título da página */
h1 {
    text-align: center;
    color: #007bff; /* Azul claro */
    margin-bottom: 30px;
}

/* Estilo para o cabeçalho da tabela */
#cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #e9ecef; /* Cinza claro */
    color: #333; /* Cinza escuro */
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* Estilo para cada coluna do cabeçalho */
#cabecalho > div {
    flex: 1;
    text-align: center;
}

/* Estilo para o contêiner de dados */
#data-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

/* Estilo para cada linha de dados */
#data-container > div {
    display: flex;
    background-color: #ffffff; /* Branco */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #9ab7d3; /* Cinza muito claro */
}

/* Estilo para cada item dentro de uma linha de dados */
#data-container > div > div  {
    flex: 1;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ced4da; /* Cinza claro */
    border-radius: 4px;
    margin: 0 5px; /* Espaçamento entre as colunas */
    box-sizing: border-box;
    max-width: 100%;
    background-color: #e9ecef; /* Cinza claro */
    color: #495057; /* Cinza escuro */
}

/* Efeito hover para cada linha de dados */
#data-container > div:hover {
    background-color: #b2d2f1; /* Cinza muito claro */
    transform: scale(1.02); /* Efeito de zoom leve */
}

/* Estilo para o botão de voltar */
#botaovoltar {
    display: inline-block;
    margin-top: 30px;
    padding: 15px;
    text-align: center;
    background-color: #007bff; /* Azul claro */
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

/* Efeito hover para o botão de voltar */
#botaovoltar:hover {
    background-color: #0056b3; /* Azul mais escuro */
    transform: scale(1.05); /* Efeito de zoom leve */
}

/* Centralizar o botão de voltar */
.container {
    text-align: center;
}


/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #ffffff; /* Fundo branco */
    margin: 10% auto; /* Margem para centralizar */
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    width: 40%; /* Tamanho menor do modal */
    max-width: 600px; /* Limite de largura para telas maiores */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: #333333; /* Texto em cinza escuro */
}

/* Estilos para os campos do formulário */
.modal input[type="text"],
.modal input[type="number"],
.modal textarea,
.modal input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #f7f9fc; /* Azul claro muito suave */
    color: #333333;
    font-size: 16px;
}

.modal label {
    font-size: 14px;
    color: #444444;
    font-weight: bold;
}

/* Estilos para os botões */
.modal button {
    background-color: #4a90e2; /* Azul claro */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #357ab8; /* Azul mais escuro ao passar o mouse */
}

#saveButton,
#deleteButton {
    background-color: #00aaff;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#saveButton:hover {
    background-color: #0077cc;
}

#deleteButton {
    background-color: #ff004c;
}

#deleteButton:hover {
    background-color: #cc0036;
}

/* Estilo para o botão de fechar */
.close {
    position: relative;
    left: 95%;
    top: 15px;
    color: #000000;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover {
    color: #ff3366;
}

/* Animações */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#visitaModal {
    animation: fadeIn 0.3s ease-out;
}