/* Estilo para o corpo da página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 20px;
    color: #333;
}

/* Estilo para o título */
h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 30px;
}

/* Estilo para o formulário */
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os campos do formulário */
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="number"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #f7f9fc;
    color: #333;
}

/* Estilo para o botão */
button {
    width: 40%;
    margin: 0 auto;
    display: block;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para o botão de voltar */
#botaovoltar {
    display: block;
    width: 200px;
    margin: 30px auto 0 auto;
    padding: 10px;
    background-color: #007bff; /* Azul claro */
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

/* Efeito hover para o botão de voltar */
#botaovoltar:hover {
    background-color: #0056b3; /* Azul mais escuro */
    transform: scale(1.02); /* Efeito de zoom leve */
}

/* Estilos adicionais para o layout */
textarea {
    height: 100px;
    resize: vertical;
}
