/* Estilo geral da página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9; /* Fundo branco com um toque de cinza claro */
    margin: 0;
    padding: 20px;
    color: #333; /* Texto cinza escuro */
}

/* Título principal */
h1 {
    text-align: center;
    color: #007bff; /* Azul claro */
    margin-bottom: 30px;
}

/* Estilo do formulário */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Fundo branco */
    border: 1px solid #d1d3d4; /* Borda cinza clara */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo dos labels */
form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #007bff; /* Azul claro */
}

/* Estilo dos inputs e textarea */
form input[type="text"],
form input[type="number"],
form input[type="date"],
form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d1d3d4; /* Borda cinza clara */
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

#cliente_id {
    width: calc(30% - 20px);
    display: inline-block;
}

/* Estilo do botão de enviar */
form button[type="submit"] {
    width: calc(60% - 20px);
    padding: 15px;
    background-color: #007bff; /* Azul claro */
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    display: block;
    margin: 20px auto 0 auto; /* Centralizado */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Efeito hover para o botão de enviar */
form button[type="submit"]:hover {
    background-color: #0056b3; /* Azul mais escuro */
    transform: scale(1.02); /* Efeito de zoom leve */
}

/* Estilo do botão de voltar */
#botaovoltar {
    display: block;
    width: 200px;
    margin: 30px auto 0 auto;
    padding: 10px;
    background-color: #007bff; /* Azul claro */
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

/* Efeito hover para o botão de voltar */
#botaovoltar:hover {
    background-color: #0056b3; /* Azul mais escuro */
    transform: scale(1.02); /* Efeito de zoom leve */
}

#selecionarCliente {
    display: inline-block;
    width: 200px;
    padding: 10px;
    background-color: #007bff; /* Azul claro */
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

#selecionarCliente:hover {
    background-color: #0056b3; /* Azul mais escuro */
    transform: scale(1.02); /* Efeito de zoom leve */
}

/* Estilo do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #ffffff; /* Fundo branco */
    margin: 10% auto; /* Centralizado verticalmente */
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    width: 40%; /* Tamanho menor do modal */
    max-width: 600px; /* Limite de largura para telas maiores */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: #333333; /* Texto em cinza escuro */
    position: relative;
}

/* Estilo para a lista de clientes */
#listaClientes {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#listaClientes li {
    padding: 10px;
    border-bottom: 1px solid #d4cece;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#listaClientes li:hover {
    background-color: #7fb9f7; /* Azul claro */
    padding: 10px;
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



