/* Estilo para o corpo da página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9; /* Branco com um toque de cinza claro */
    margin: 0;
    padding: 20px;
    color: #333;
}

/* Estilo para o título da página */
h1 {
    text-align: center;
    color: #007bff; /* Azul claro */
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* Estilo para o formulário */
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff; /* Fundo branco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Estilo para os rótulos */
form label {
    font-weight: bold;
    color: #444;
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

/* Estilo para os campos de entrada de texto */
form input[type="text"],
form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #f7f9fc; /* Azul claro muito suave */
    color: #333;
    font-size: 16px;
    transition: border-color 0.3s;
}

form input[type="text"]:focus,
form textarea:focus {
    border-color: #007bff; /* Azul claro */
}

/* Estilo para o botão de submit */
form button[type="submit"] {
    width: 40%;
    display: block;
    margin: 0 auto;
    background-color: #007bff; /* Azul claro */
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

/* Efeito hover para o botão de submit */
form button[type="submit"]:hover {
    background-color: #0056b3; /* Azul mais escuro */
    transform: scale(1.02); /* Efeito de zoom leve */
}

/* Estilo do botão de voltar */
#botaovoltar {
    display: block;
    width: 200px;
    margin: 30px auto 0 auto;
    padding: 10px;
    background-color: #007bff; /* Azul claro */
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

/* Efeito hover para o botão de voltar */
#botaovoltar:hover {
    background-color: #0056b3; /* Azul mais escuro */
    transform: scale(1.02); /* Efeito de zoom leve */
}

