<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Consulta de Clientes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ConsultaClientes.css') }}">
</head>
<body>
    <h1>Consulta de Clientes</h1>
    <div id="cabecalho">
        <div id="ID">ID</div>
        <div id="nome">Nome</div>
        <div id="endereco">endereço</div>
        <div id="descricao">descrição</div>
    </div>
    <div id="data-container"></div>
    <div class="container">
    <div id="botaovoltar" onclick="location.href='/';"> Voltar para menu principal</div>
    
     <!-- Modal para edição de cliente -->
     <div id="clienteModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="Tmod">Editar Cliente</h2>
            <form id="editClienteForm">
                <label for="modal_id">ID:</label>
                <input type="text" id="modal_id" name="id" readonly><br><br>

                <label for="modal_nome">Nome:</label>
                <input type="text" id="modal_nome" name="nome" maxlength="60" required><br><br>

                <label for="modal_endereco">Endereço:</label>
                <input type="text" id="modal_endereco" name="endereco" maxlength="60" required><br><br>

                <label for="modal_descricao">Descrição:</label>
                <textarea id="modal_descricao" name="descricao" maxlength="150"></textarea><br><br>

                <button type="submit">Salvar</button>
                <button type="button" id="deleteButton">Excluir</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/consultaclientes.js') }}"></script>
    </body>
</html>
