<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu do Estoque</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estoquemenu.css') }}">
</head>
<body>
    <h1>Menu do Estoque</h1>
    <div class="container">
        <button id="entradaItens">Entrada de Itens</button>
        <button id="saidaItens">Saída de Itens</button>
        <button id="consultaEstoque">Consulta de Estoque</button>
    </div>
    <div id="botaovoltar" onclick="location.href='/';">Voltar para menu principal</div>

    <script src="{{ url_for('static', filename='js/estoquemenu.js') }}"></script>
</body>
</html>
